# Built docs
site/

# Python
__pycache__/
.pytest_cache/
tests/__pycache__
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
src/lufus.dist-info/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/.vs

# :3 :3 :3 :3
*.AppImage
AppDir
*.spec
site/
.desloppify/
